app/db/bibliography.dtd

<!ELEMENT bibliography (book+)>
<!ELEMENT book (title,author,year,publisher,isbn,url?)>
<!ATTLIST book id NMTOKEN #REQUIRED>
<!ATTLIST book lang NMTOKEN #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT url (#PCDATA)>